@media only screen and (max-width: 767px) {
  /*================================================
    Default Area CSS
    =================================================*/
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .ptb-70 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pt-70 {
    padding-top: 20px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .pt-50 {
    padding-top: 0;
  }
  .pt-30 {
    margin-top: 30px !important;
  }
  .pl-20 {
    padding-left: 0px;
  }
  .pr-20 {
    padding-right: 0px;
  }
  :root {
    --card-title-fontSize: 18px;
    --titleFontSize: 24px;
    --fontSize: 14px;
  }
  .default-section-title {
    margin-bottom: 0px;
  }
  .default-section-title h3 {
    font-size: 23px;
  }
  .section-content {
    margin-top: 0px;
  }
  .shape, .shapes {
    display: none;
  }
  .section-title .default-button {
    margin-left: 0;
    margin-top: 20px;
  }
  .progress-wrap {
    right: 15px;
  }
  .flp {
    padding-left: 0;
  }
  .slider-card-margin {
    margin-bottom: 5px;
  }
  /*================================================
    Slider Nav Area CSS
    =================================================*/
  .team-slider-area .owl-nav, .event-slider-area-3 .owl-nav, .team-slider-area-3 .owl-nav, .testimonials-slider-area-3 .owl-nav {
    position: relative;
    margin-top: 30px;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    top: unset;
    left: unset;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .team-slider-area .owl-nav button, .event-slider-area-3 .owl-nav button, .team-slider-area-3 .owl-nav button, .testimonials-slider-area-3 .owl-nav button {
    margin: 0px 5px;
  }
  .team-slider-area .owl-nav .owl-next, .event-slider-area-3 .owl-nav .owl-next, .team-slider-area-3 .owl-nav .owl-next, .testimonials-slider-area-3 .owl-nav .owl-next {
    float: unset;
  }
  /*================================================
    Top bar Area CSS
    =================================================*/
  .topbar-right-side ul {
    text-align: center;
  }
  .topbar-right-side ul li {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  /*================================================
    Index 01 Banner Area CSS
    =================================================*/
  .main-banner-single-slider {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .main-banner-single-slider::before {
    background-image: -webkit-gradient(linear, left top, right top, from(#022751), color-stop(#022751ea), color-stop(#022751c9), color-stop(#022751cc), to(#02275159));
    background-image: linear-gradient(to right, #022751, #022751ea, #022751c9, #022751cc, #02275159);
  }
  .banner-text-area h1 {
    font-size: 32px;
  }
  /*================================================
    Index 01 Features Area CSS
    =================================================*/
  .features-card {
    padding-left: 15px;
    padding-right: 15px;
  }
  /*================================================
    Index 01 Upcoming Event Area CSS
    =================================================*/
  .upcoming-event-text-area {
    margin-top: 30px;
  }
  .countdown-wrapper .gx-5 {
    --bs-gutter-x: 1.5rem;
  }
  .countdown-wrapper .getting-start::before {
    display: none;
  }
  .upcoming-event-img .shape1 {
    left: 0;
  }
  .upcoming-event-img .event-img-text {
    top: 25px;
  }
  /*================================================
    Index 01 Team Area CSS
    =================================================*/
  .team-card {
    margin-top: 30px;
  }
  .team-card .team-card-img .team-social-icons {
    opacity: 1;
  }
  .team-slider-area .owl-nav {
    margin-bottom: 30px;
  }
  /*================================================
    Index 01 Event Area CSS
    =================================================*/
  .event-card::before {
    height: 100%;
  }
  .event-card .event-card-text {
    padding: 15px;
    bottom: 0;
    opacity: 1;
  }
  /*================================================
    Index 01 Networking Area CSS
    =================================================*/
  .networking-text-area {
    margin-top: 30px;
  }
  .networking-text-area .network-time {
    font-size: 13px;
  }
  .networking-text-area .network-time i {
    margin-right: 5px;
  }
  .networking-img-area .shape3 {
    right: 0;
  }
  .networking-img-area .shape1 {
    left: 0;
    top: 0;
  }
  /*================================================
    Index 01 Pricing Area CSS
    =================================================*/
  .price-card {
    padding-left: 25px;
    padding-right: 25px;
  }
  /*================================================
    Index 01 Programs Area CSS
    =================================================*/
  .programs-text-area ul li {
    width: 225px;
  }
  .programs-img-area {
    text-align: center;
    margin-top: 30px;
  }
  /*================================================
    Index 01 Blog Area CSS
    =================================================*/
  .blog-card .blog-card-text-area {
    padding-left: 15px;
    padding-right: 15px;
  }
  .blog-card .blog-card-text-area .blog-card-footer ul li {
    margin-right: 5px;
    font-size: 12px;
  }
  /*================================================
    Footer Area CSS
    =================================================*/
  .footer-links {
    margin-top: 30px;
  }
  /*================================================
    Index 02 Banner Area CSS
    =================================================*/
  .home-banner {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .home-banner h1 {
    font-size: 29px;
  }
  .button-groups .default-button {
    padding: 10px 20px;
  }
  /*================================================
    Index 02 About Area CSS
    =================================================*/
  .about-imag-area-2 {
    text-align: center;
  }
  /*================================================
    Index 02 Schedule Area CSS
    =================================================*/
  .schedule-card {
    padding: 20px 15px 15px;
  }
  .schedule-card p {
    font-size: 13px;
  }
  .schedule-card p i {
    margin-right: 5px;
  }
  /*================================================
    Index 02 Conference Area CSS
    =================================================*/
  .conference-card {
    padding: 20px 15px;
  }
  /*================================================
    Index 02 Speakers Area CSS
    =================================================*/
  .speaker-slider-right-area {
    margin-top: 30px;
  }
  .speaker-slider-right-area .speaker-slider-card {
    margin-bottom: 30px;
  }
  /*================================================
    Index 02 Networking Area CSS
    =================================================*/
  .networking-2 .networking-text-area {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  /*================================================
    Index 03 Banner Area CSS
    =================================================*/
  .banner .container-fluid .banner-text-area-3 {
    margin-bottom: 30px;
  }
  .banner .container-fluid .banner-text-area-3 h1 {
    font-size: 36px;
  }
  /*================================================
    Index 03 About Area CSS
    =================================================*/
  .about-text-area-3 {
    margin-top: 30px;
  }
  .about-list ul li {
    width: 225px;
    margin-right: 15px;
  }
  /*================================================
    Index 03 Events Area CSS
    =================================================*/
  .event-3::before {
    height: 40%;
  }
  .event-card-3 {
    padding: 20px 15px;
  }
  /*================================================
    Index 03 Team Area CSS
    =================================================*/
  .team-card-3 .team-card-img-area .team-social-icons {
    opacity: 1;
    left: 15px;
    top: 15px;
  }
  /*================================================
    Index 03 Testimonials Area CSS
    =================================================*/
  .testimonial-card-3 {
    padding: 20px 15px;
  }
  .testimonial-card-3 p {
    font-size: 15px;
  }
  .testimonial-card-3 .testimonial-card-header {
    display: block;
  }
  .testimonial-card-3 .testimonial-card-header img {
    margin-bottom: 15px;
  }
  /*================================================
    Uni Banner Area CSS
    =================================================*/
  .uni-banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .uni-banner h1 {
    font-size: 32px;
  }
  /*================================================
    Event Area CSS
    =================================================*/
  .event-card-4 .event-card-text-4, .event-card-4 .event-card-footer {
    padding: 20px 15px;
  }
  /*================================================
    Event Details Area CSS
    =================================================*/
  .event-quote {
    padding: 20px 15px;
  }
  .event-quote p {
    font-size: 15px;
  }
  /*================================================
    Details Page Sidebar Area CSS
    =================================================*/
  .sidebar-card {
    padding: 20px 15px;
  }
  .popular-post-card h5 {
    font-size: 16px;
  }
  .details-page-text-area h3 {
    font-size: 22px;
    line-height: 1.4;
  }
  /*================================================
    Speakers Details Area CSS
    =================================================*/
  .speakers-details-img-area {
    background-image: unset;
    height: auto;
  }
  .speakers-details-img-area img {
    display: block;
    width: 100%;
  }
  .speakers-details-info-area {
    padding-top: 30px;
    padding-bottom: 0;
  }
  /*================================================
    Course Details Area CSS
    =================================================*/
  .course-area-header {
    text-align: center;
  }
  .course-area-header form {
    margin-left: auto;
    margin-right: auto;
  }
  .course-card .course-card-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .course-card .course-card-text .course-card-footer ul li {
    margin-right: 7px;
    font-size: 12px;
  }
  .course-card .course-card-text .course-card-footer ul li:last-child {
    margin-right: 0;
  }
  .course-details-text-area .nav-tabs .nav-link {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
  }
  .course-details-text-area .course-card-footer ul li {
    margin-right: 7px;
    font-size: 12px;
  }
  .course-details-text-area .course-card-footer ul li:last-child {
    margin-right: 0;
  }
  /*================================================
    Blog Details page CSS
    =================================================*/
  .blog-details-text-area .blog-quote {
    padding: 20px 15px;
  }
  .blog-details-text-area .blog-quote p {
    font-size: 15px;
  }
  .blog-details-text-area .blog-card-footer ul li {
    margin-right: 8px;
    font-size: 13px;
  }
  .comment-card {
    padding: 0;
    margin-left: 0;
  }
  .comment-card img {
    margin-bottom: 15px;
    position: relative;
    left: 0;
  }
  .comment-card h5 {
    font-size: 16px;
  }
  .bd-form {
    padding: 20px 15px;
  }
  .bd-form h3 {
    font-size: 20px;
  }
  .bd-comments h3 {
    font-size: 20px;
  }
  /*================================================
    Webinars Area CSS
    =================================================*/
  .webinars-card {
    padding: 15px;
  }
  .webinars-card .webinars-card-text-area .webinars-card-footer p {
    font-size: 12px;
  }
  /*================================================
    Error Area CSS
    =================================================*/
  .error-content h4 {
    font-size: 24px;
    line-height: 1.4;
  }
  /*================================================
    FAQ Area CSS
    =================================================*/
  .faq-img {
    background-image: unset;
    height: auto;
  }
  .faq-img img {
    display: block;
  }
  .faq-text-area .accordion-item .accordion-button {
    padding: 10px 15px;
    font-size: 16px;
  }
  .faq-text-area .accordion-item .accordion-button span {
    font-size: 14px;
  }
  /*================================================
    Products Area CSS
    =================================================*/
  .product-page-topbar {
    text-align: center;
  }
  .product-page-topbar .ppt-right-area {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-page-topbar .ppt-right-area .input-group, .product-page-topbar .ppt-right-area .form-select {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .product-card .product-card-img-area ul {
    opacity: 1;
  }
  .product-card .product-card-img-area ul li {
    -webkit-animation: none !important;
            animation: none !important;
  }
  /*================================================
    Product Details page CSS
    =================================================*/
  .product-details-info-area .product-details-info-img {
    height: auto;
    background-image: unset;
    padding: 30px 0px;
  }
  .product-details-info-area .product-details-info-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .product-details-info-area .product-details-info-text {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .product-details-info-area .product-details-info-text h3 {
    font-size: 24px;
  }
  .product-details-info-area .product-details-info-text .input-count-area .default-button {
    padding: 12px 20px;
  }
  /*================================================
    Cart page CSS
    =================================================*/
  .cart-table-area .table {
    width: 700px;
    overflow-x: scroll;
  }
  .cart-footer-area .default-button {
    margin-right: auto;
    padding: 12px 20px;
  }
  .total-cart-box {
    padding: 20px 15px;
  }
  .payment-box {
    padding: 20px 15px;
  }
  /*================================================
    Contact page CSS
    =================================================*/
  .contact-form-area {
    padding: 20px 15px;
  }
  .contact-google-map {
    height: 200px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-quick-links {
    margin-top: 0;
  }
  /*================================================
    Event Area CSS
    =================================================*/
  .event-card-4 .event-card-text-4, .event-card-4 .event-card-footer {
    padding: 25px;
  }
  .course-area-header {
    text-align: unset;
  }
  .course-area-header form {
    margin-left: auto;
    margin-right: unset;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*================================================
    Default Area CSS
    =================================================*/
  .ptb-100 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-100 {
    padding-top: 80px;
  }
  .pb-100 {
    padding-bottom: 80px;
  }
  .ptb-70 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 50px;
  }
  .pb-70 {
    padding-bottom: 50px;
  }
  .pt-50 {
    padding-top: 20px;
  }
  .pt-30 {
    margin-top: 30px;
  }
  .pl-20 {
    padding-left: 0px;
  }
  .pr-20 {
    padding-right: 0px;
  }
  :root {
    --card-title-fontSize: 20px;
    --fontSize: 15px;
  }
  .default-section-title h3 {
    font-size: 32px;
  }
  .section-content {
    margin-top: 0px;
  }
  .container-large {
    max-width: 720px;
  }
  .shape {
    display: none;
  }
  .flp {
    padding-left: 0;
  }
  .menu-small-device .default-button {
    padding: 8px 20px;
  }
  /*================================================
    Slider Nav Area CSS
    =================================================*/
  .team-slider-area .owl-nav, .event-slider-area-3 .owl-nav, .team-slider-area-3 .owl-nav, .testimonials-slider-area-3 .owl-nav {
    position: relative;
    margin-top: 30px;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    top: unset;
    left: unset;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .team-slider-area .owl-nav button, .event-slider-area-3 .owl-nav button, .team-slider-area-3 .owl-nav button, .testimonials-slider-area-3 .owl-nav button {
    margin: 0px 5px;
  }
  .team-slider-area .owl-nav .owl-next, .event-slider-area-3 .owl-nav .owl-next, .team-slider-area-3 .owl-nav .owl-next, .testimonials-slider-area-3 .owl-nav .owl-next {
    float: unset;
  }
  /*================================================
    Top bar Area CSS
    =================================================*/
  .topbar-right-side ul {
    text-align: center;
  }
  .topbar-right-side ul li {
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
  }
  /*================================================
    Index 01 Banner Area CSS
    =================================================*/
  .main-banner-single-slider {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .main-banner-single-slider::before {
    background-image: -webkit-gradient(linear, left top, right top, from(#022751), color-stop(#022751ea), color-stop(#022751c9), color-stop(#022751cc), to(#02275159));
    background-image: linear-gradient(to right, #022751, #022751ea, #022751c9, #022751cc, #02275159);
  }
  .banner-text-area h1 {
    font-size: 64px;
  }
  /*================================================
    Index 01 Features Area CSS
    =================================================*/
  .features-card {
    padding-left: 15px;
    padding-right: 15px;
  }
  /*================================================
    Index 01 Upcoming Event Area CSS
    =================================================*/
  .upcoming-event-text-area {
    margin-top: 30px;
  }
  .countdown-wrapper .gx-5 {
    --bs-gutter-x: 25px;
  }
  .countdown-wrapper .getting-start::before {
    right: -20px;
  }
  /*================================================
    Index 01 Event Area CSS
    =================================================*/
  .event-card .event-card-text {
    padding: 15px;
  }
  /*================================================
    Index 01 Networking Area CSS
    =================================================*/
  .networking-text-area {
    margin-top: 30px;
  }
  .networking-text-area .network-time {
    font-size: 15px;
  }
  .networking-img-area .shape3 {
    right: 0;
  }
  .networking-img-area .shape1 {
    left: 0;
    top: 0;
  }
  /*================================================
    Index 01 Pricing Area CSS
    =================================================*/
  .price-card {
    padding-left: 25px;
    padding-right: 25px;
  }
  /*================================================
    Index 01 Programs Area CSS
    =================================================*/
  .programs-text-area ul li {
    width: 250px;
  }
  .programs-img-area {
    text-align: center;
    margin-top: 30px;
  }
  /*================================================
    Index 01 Blog Area CSS
    =================================================*/
  .blog-card .blog-card-text-area {
    padding-left: 15px;
    padding-right: 15px;
  }
  .blog-card .blog-card-text-area .blog-card-footer ul li {
    margin-right: 7px;
    font-size: 14px;
  }
  /*================================================
    Footer Area CSS
    =================================================*/
  .footer-links {
    margin-top: 30px;
  }
  .footer-quick-links {
    margin-top: 0;
  }
  /*================================================
    Index 02 Banner Area CSS
    =================================================*/
  .home-banner {
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /*================================================
    Index 02 About Area CSS
    =================================================*/
  .about-imag-area-2 {
    text-align: center;
  }
  /*================================================
    Index 02 Schedule Area CSS
    =================================================*/
  .schedule-card {
    padding: 20px 15px 15px;
  }
  .schedule-card p {
    font-size: 14px;
  }
  .schedule-card p i {
    margin-right: 5px;
  }
  /*================================================
    Index 02 Conference Area CSS
    =================================================*/
  .conference-card {
    padding: 20px 15px;
  }
  /*================================================
    Index 02 Speakers Area CSS
    =================================================*/
  .speaker-slider-right-area {
    margin-top: 30px;
  }
  /*================================================
    Index 02 Networking Area CSS
    =================================================*/
  .networking-2 .networking-text-area {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  /*================================================
    Index 03 Banner Area CSS
    =================================================*/
  .banner .container-fluid .banner-text-area-3 {
    margin-bottom: 30px;
  }
  .banner .container-fluid .banner-text-area-3 h1 {
    font-size: 48px;
  }
  /*================================================
    Index 03 About Area CSS
    =================================================*/
  .about-text-area-3 {
    margin-top: 30px;
  }
  /*================================================
    Index 03 Events Area CSS
    =================================================*/
  .event-3::before {
    height: 40%;
  }
  /*================================================
    Index 03 Testimonials Area CSS
    =================================================*/
  .testimonial-card-3 p {
    font-size: 16px;
  }
  /*================================================
    Uni Banner Area CSS
    =================================================*/
  .uni-banner {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  /*================================================
    Speakers Details Area CSS
    =================================================*/
  .speakers-details-img-area {
    background-image: unset;
    height: auto;
  }
  .speakers-details-img-area img {
    display: block;
    width: 100%;
  }
  .speakers-details-info-area {
    padding-top: 30px;
    padding-bottom: 0;
  }
  /*================================================
    Course Area CSS
    =================================================*/
  .course-card .course-card-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .course-card .course-card-text .course-card-footer ul li {
    margin-right: 7px;
    font-size: 14px;
  }
  .course-card .course-card-text .course-card-footer ul li:last-child {
    margin-right: 0;
  }
  /*================================================
    FAQ Area CSS
    =================================================*/
  .faq-img {
    background-image: unset;
    height: auto;
  }
  .faq-img img {
    display: block;
  }
  /*================================================
    Products Area CSS
    =================================================*/
  .product-page-topbar {
    text-align: center;
  }
  .product-page-topbar .ppt-right-area {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-page-topbar .ppt-right-area .input-group, .product-page-topbar .ppt-right-area .form-select {
    margin-top: 15px;
  }
  /*================================================
    Product Details page CSS
    =================================================*/
  .product-details-info-area .product-details-info-img {
    height: auto;
    background-image: unset;
    text-align: center;
    padding: 30px 0px;
  }
  .product-details-info-area .product-details-info-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .product-details-info-area .product-details-info-text {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .product-details-info-area .product-details-info-text h3 {
    font-size: 24px;
  }
  /*================================================
    Cart page CSS
    =================================================*/
  .cart-footer-area .default-button {
    margin-right: auto;
  }
  .payment-box {
    padding: 20px 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /*================================================
    Default Area CSS
    =================================================*/
  :root {
    --card-title-fontSize: 19px;
    --fontSize: 14px;
  }
  .flp {
    padding-left: 30px;
  }
  .default-section-title h3 {
    font-size: 26px;
  }
  .menu-small-device .default-button {
    padding: 8px 20px;
  }
  /*================================================
    Slider Nav Area CSS
    =================================================*/
  .team-slider-area .owl-nav {
    position: relative;
    margin-top: 30px;
    width: auto;
    text-align: center;
  }
  .team-slider-area .owl-nav button {
    margin: 0px 5px;
  }
  .team-slider-area .owl-nav .owl-next {
    float: unset;
  }
  /*================================================
    Index 01 Banner Area CSS
    =================================================*/
  .main-banner-single-slider {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .main-banner-single-slider::before {
    background-image: -webkit-gradient(linear, left top, right top, from(#022751), color-stop(#022751ea), color-stop(#022751c9), color-stop(#022751cc), to(#02275159));
    background-image: linear-gradient(to right, #022751, #022751ea, #022751c9, #022751cc, #02275159);
  }
  .banner-text-area h1 {
    font-size: 66px;
  }
  /*================================================
    Index 01 Features Area CSS
    =================================================*/
  .features-card {
    padding-left: 15px;
    padding-right: 15px;
  }
  /*================================================
    Index 01 Upcoming Events Area CSS
    =================================================*/
  .countdown-wrapper .gx-5 {
    --bs-gutter-x: 25px;
  }
  .countdown-wrapper .getting-start::before {
    right: -20px;
  }
  /*================================================
    Index 01 Networking Area CSS
    =================================================*/
  .networking-text-area .network-time {
    font-size: 15px;
  }
  /*================================================
    Index 01 Pricing Area CSS
    =================================================*/
  .price-card {
    padding-left: 25px;
    padding-right: 25px;
  }
  /*================================================
    Index 01 Programs Area CSS
    =================================================*/
  .programs-text-area ul li {
    width: 215px;
    margin-right: 0;
  }
  .programs-img-area {
    text-align: center;
    margin-top: 30px;
  }
  /*================================================
    Index 01 Blog Area CSS
    =================================================*/
  .blog-card .blog-card-text-area {
    padding-left: 25px;
    padding-right: 25px;
  }
  /*================================================
    Index 02 Banner Area CSS
    =================================================*/
  .home-banner {
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /*================================================
    Index 02 Schedule Area CSS
    =================================================*/
  .schedule-card {
    padding: 20px 15px 15px;
  }
  .schedule-card p {
    font-size: 13px;
  }
  .schedule-card p i {
    margin-right: 5px;
  }
  /*================================================
    Index 02 Conference Area CSS
    =================================================*/
  .conference-card {
    padding: 20px 15px;
  }
  .about-list ul li {
    font-size: 12px;
  }
  .popular-post-card h5 {
    font-size: 14px;
  }
  /*================================================
    Course Area CSS
    =================================================*/
  .course-card .course-card-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .course-card .course-card-text .course-card-footer ul li {
    margin-right: 5px;
    font-size: 12px;
  }
  .course-card .course-card-text .course-card-footer ul li:last-child {
    margin-right: 0;
  }
  /*================================================
    Webinars Area CSS
    =================================================*/
  .webinars-card {
    padding: 15px;
  }
  .webinars-card .webinars-card-text-area .webinars-card-footer p {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  :root {
    --card-title-fontSize: 20px;
    --fontSize: 14px;
  }
  .default-section-title h3 {
    font-size: 30px;
  }
  /*================================================
    Index 01 Banner Area CSS
    =================================================*/
  .main-banner-single-slider {
    padding-top: 150px;
    padding-bottom: 170px;
  }
  /*================================================
    Index 01 Blog Area CSS
    =================================================*/
  .blog-card .blog-card-text-area {
    padding-left: 25px;
    padding-right: 25px;
  }
  .blog-card .blog-card-text-area .blog-card-footer ul li {
    margin-right: 5px;
    font-size: 14px;
  }
  /*================================================
    Index 02 Banner Area CSS
    =================================================*/
  .home-banner {
    padding-top: 230px;
    padding-bottom: 160px;
  }
  /*================================================
    Index 03 Programs Area CSS
    =================================================*/
  .programs-text-area ul li {
    margin-right: 20px;
    width: 45%;
  }
  /*================================================
    Speakers Area CSS
    =================================================*/
  .speakers-session .schedule-card-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
  /*================================================
    Course Area CSS
    =================================================*/
  .course-card .course-card-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .course-card .course-card-text .course-card-footer ul li {
    margin-right: 5px;
    font-size: 15px;
  }
  .course-card .course-card-text .course-card-footer ul li:last-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1550px) {
  .container-large {
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
  }
  /*================================================
    SLider Nav Area CSS
    =================================================*/
  .team-slider-area .owl-nav, .event-slider-area-3 .owl-nav, .team-slider-area-3 .owl-nav, .testimonials-slider-area-3 .owl-nav {
    width: 110%;
  }
  /*================================================
    Index 01 Banner Area CSS
    =================================================*/
  .main-banner .shape .shape2 {
    display: block;
  }
}
/*# sourceMappingURL=responsive.css.map */